<?xml version="1.0" encoding="utf-8"?>
<Content Key="aba91840-21f1-4c25-be84-3c42191981eb" Alias="Features" Level="2">
  <Info>
    <Parent Key="b4a5e417-5cf2-4431-b789-abc7555e5262">Home</Parent>
    <Path>/Home/Features</Path>
    <Trashed>false</Trashed>
    <ContentType>featuresPage</ContentType>
    <CreateDate>2026-07-19T14:00:00</CreateDate>
    <NodeName Default="Features" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b8037b7c-9e61-4155-a67d-6e775413e5c6">featuresPage</Template>
  </Info>
  <Properties />
</Content>