<?xml version="1.0" encoding="utf-8"?>
<Content Key="a154539c-ca7a-4553-b37c-6c4b16ccee58" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2026-07-19T12:00:00</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="00000000-0000-0000-0000-000000000000"></Template>
  </Info>
  <Properties />
</Content>